.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	border: none;

	svg {
		width: 20px;
		fill: var(--white);
	}

	&.primary {
		background-color: var(--primary);

		svg {
			fill: var(--white);
		}
	}

	&.white {
		background-color: var(--white);

		svg {
			fill: var(--primary);
		}
	}
}
