.wrapper {
	margin-top: 40px;

	.title {
		display: grid;
		grid-template-columns: auto 1fr auto;
		place-items: center left;
		gap: 20px;
	}

	.hhTitle {
		display: grid;
		grid-template-columns: auto 1fr;
		place-items: center left;
        gap: 20px;
	}
}
