.rating {
	position: relative;
	display: flex;
	margin-bottom: 5px;

	.star {
		height: 20px;
		padding: 0px 2.5px;
		fill: var(--mercury);

		&.filled {
			fill: var(--primary);
		}

		&.editable {
			cursor: pointer;
		}
	}

	&.error {
		&::after {
			content: '';
			width: 100%;
			height: 1px;
			background: var(--red);
			position: absolute;
			bottom: -5px;
			border-radius: 5px;
		}
	}

	& .errorMessage {
		position: absolute;
		bottom: -25px;
		left: 0px;
		color: var(--red);
	}
}
