html,
body {
	padding: 0;
	margin: 0;
	color: var(--black);
	background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

:root {
	--black: #3b434e;
	--rolling-stone: #787d85;
	--silver: #a4a4a4;
	--gray-pigeon-post: #b3c0d9;
	--gray-light: #ebebeb;
	--alto: #dfdfdf;
	--mercury: #e2e2e2;
	--cultured: #f5f6f8;
	--white: #fff;
	--magnolia: #f9f8ff;
	--primary: #7653fc;
	--primary-hover: #6344df;
	--orange: #fc836d;
	--red: #de0000;
	--rose: #c31c61;
	--red-light: #f8c8dc;
	--green: #1dc37e;
	--crayola: #1cc37e;
	--green-light: #c8f8e4;

	--font-family: 'Noto Sans', sans-serif;

	--transition: all 0.2s;
}
